plugin: aws_ec2

regions:
  - us-east-1

filters:
  tag:Role: app
  instance-state-name: running

hostnames:
  - private-ip-address

compose:
  ansible_ssh_common_args: >-
    -o ProxyJump=ec2-user@{{ lookup('env','100.27.43.94') }}
