---
- name: Deploy Inventory Application
  hosts: role_app
  become: true

  tasks:
    - name: Start Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Create app directory
      file:
        path: /home/ec2-user/app
        state: directory
        owner: ec2-user
        group: ec2-user

    - name: Copy docker-compose
      copy:
        src: files/docker-compose.yml
        dest: /home/ec2-user/app/docker-compose.yml
        owner: ec2-user
        group: ec2-user

    - name: Copy nginx config
      copy:
        src: files/nginx.conf
        dest: /home/ec2-user/app/nginx.conf
        owner: ec2-user
        group: ec2-user
        
    - name: Wait for Docker socket
      wait_for:
       path: /var/run/docker.sock
       timeout: 60

    - name: Run containers
      become_user: ec2-user
      shell: |
        docker compose pull
        docker compose up -d --remove-orphans
      args:
        chdir: /home/ec2-user/app
