name: Inventory CI/CD

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build & push backend
        uses: docker/build-push-action@v4
        with:
          context: ./server
          push: true
          tags: heyrohhh/iniback:latest

      - name: Build & push frontend
        uses: docker/build-push-action@v4
        with:
          context: ./client
          push: true
          tags: heyrohhh/inifront:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
    
      - name: Install Ansible + deps
        run: |
            pipx install ansible-core
            pipx inject ansible-core boto3 botocore
            ansible-galaxy collection install amazon.aws

      - name: Deploy via SSM
        env:
         AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
         AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
         AWS_DEFAULT_REGION: us-east-1
        run: |
         cd ansible
         ansible-playbook deploy.yml

