name: Inventory CI/CD

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build & push backend
        uses: docker/build-push-action@v4
        with:
          context: ./server
          push: true
          tags: heyrohhh/iniback:latest

      - name: Build & push frontend
        uses: docker/build-push-action@v4
        with:
          context: ./client
          push: true
          tags: heyrohhh/inifront:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set Python 3.10
        uses: actions/setup-python@v5
        with:
         python-version: "3.10"
        
      - name: Install Ansible stack
        run: |
          python -m pip install --upgrade pip
          python -m pip install ansible-core==2.15.13 boto3 botocore
          ansible-galaxy collection install amazon.aws:10.0.0 community.aws:10.0.0
      - name: Debug Ansible runtime
        run: |
          which ansible-playbook
          ansible-playbook --version
          python --version

      - name: Deploy via SSM
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-1
          AWS_REGION: us-east-1 
        run: |
           curl "https://s3.amazonaws.com/session-manager-downloads/plugin/latest/ubuntu_64bit/session-manager-plugin.deb" -o "session-manager-plugin.deb"
           sudo dpkg -i session-manager-plugin.deb
           aws ssm describe-instance-information --region us-east-1
           cd ansible
           ansible-playbook -i aws_ec2.yml deploy.yml -vv
