name: Inventory CI/CD

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build & push backend
        uses: docker/build-push-action@v4
        with:
          context: ./server
          push: true
          tags: heyrohhh/iniback:latest

      - name: Build & push frontend
        uses: docker/build-push-action@v4
        with:
          context: ./client
          push: true
          tags: heyrohhh/inifront:v3

  deploy:
   needs: build
   runs-on: ubuntu-latest

   steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1
    - name: Deploy using SSM
      id: ssm
      run: |
       COMMAND_ID=$(aws ssm send-command \
       --document-name "AWS-RunShellScript" \
       --targets "Key=tag:Role,Values=app" \
       --comment "CI Deploy" \
       --parameters 'commands=[
        "set -e",
        cd /home/ec2-user/app

        sudo docker compose down
        sudo docker compose pull
        sudo docker compose up -d --remove-orphans
        sudo docker image prune -f

       ]' \
       --query "Command.CommandId" \
       --output text)

       echo "SSM Command ID: $COMMAND_ID"
       echo "COMMAND_ID=$COMMAND_ID" >> $GITHUB_ENV


    - name: Wait for SSM command to finish
      run: |
        echo "Waiting for SSM command to complete..."

        for i in {1..30}; do
          STATUS=$(aws ssm list-command-invocations \
            --command-id $COMMAND_ID \
            --details \
            --query "CommandInvocations[].Status" \
            --output text)

          echo "SSM status: $STATUS"

          if [[ "$STATUS" == *"Success"* ]]; then
            echo "SSM command completed successfully"
            exit 0
          fi

          if [[ "$STATUS" == *"Failed"* ]]; then
            echo "SSM command failed"
            exit 1
          fi

          sleep 5
        done

        echo "ERROR: SSM command did not finish in time"
        exit 1

    - name: Wait for ALB targets to become healthy
      env:
       TARGET_GROUP_ARN: ${{ secrets.ALB_TARGET_GROUP_ARN }}
      run: |
       echo "TARGET_GROUP_ARN=$TARGET_GROUP_ARN"

       if [ -z "$TARGET_GROUP_ARN" ]; then
       echo "ERROR: TARGET_GROUP_ARN is EMPTY"
       exit 1
       fi

       echo "Waiting for ALB targets to become healthy..."

       for i in {1..30}; do
       HEALTHY_COUNT=$(aws elbv2 describe-target-health \
        --target-group-arn "$TARGET_GROUP_ARN" \
        --query "TargetHealthDescriptions[?TargetHealth.State=='healthy'] | length(@)" \
        --output text)

       echo "Healthy targets: $HEALTHY_COUNT"
  
       if [ "$HEALTHY_COUNT" -ge 1 ]; then
        echo "ALB healthy"
        exit 0
       fi

       sleep 10
       done

       echo "ERROR: ALB targets never became healthy"
       exit 1
