name: Inventory CI/CD

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build & push backend
        uses: docker/build-push-action@v4
        with:
          context: ./server
          push: true
          tags: heyrohhh/iniback:latest

      - name: Build & push frontend
        uses: docker/build-push-action@v4
        with:
          context: ./client
          push: true
          tags: heyrohhh/inifront:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Ansible + AWS deps
        run: |
          ansible-galaxy collection install amazon.aws
          ansible-galaxy collection list | grep amazon

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          cat > ~/.ssh/config <<EOF
          Host bastion
            HostName ${{ secrets.BASTION_PUBLIC_IP }}
            User ec2-user
            IdentityFile ~/.ssh/id_rsa
            StrictHostKeyChecking no

          Host *
            ProxyJump bastion
            StrictHostKeyChecking no
          EOF



      - name: Run Ansible deployment
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-1
          BASTION_PUBLIC_IP: ${{ secrets.BASTION_PUBLIC_IP }}
        run: |
          cd ansible
          ansible-playbook deploy.yml
