name: inventory system- last project

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
      
      - name: docker-login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Backend build and push
        uses: docker/build-push-action@v4
        with:
          context: ./server/
          push: true
          tags: heyrohhh/iniback:v1

      - name: Frontend build and push
        uses: docker/build-push-action@v4
        with:
          context: ./client/
          push: true
          tags: heyrohhh/inifront:v1

  Deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    strategy:
      matrix:
        server_ip: ["10.0.3.4", "10.0.3.61", "10.0.3.242"]
    
    steps: 
      - name: Deploy and Inject Secrets
        uses: appleboy/ssh-action@master
        with:
          host: ${{ matrix.server_ip }}
          username: ec2-user
          key: ${{ secrets.PRIVATE_KEY }}
          proxy_host: ${{ secrets.BASTION_PUBLIC_IP }}
          proxy_username: ec2-user
          proxy_key: ${{ secrets.PRIVATE_KEY }}
          envs: MYSQL_ROOT_PASSWORD,MYSQL_DATABASE
          script: |
            cd /home/ec2-user/app
            echo "MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD" > .env
            echo "MYSQL_DATABASE=$MYSQL_DATABASE" >> .env
            sudo docker compose pull
            sudo docker compose up -d --remove-orphans